html {
  height: 100%;
}

body {
  background-color: black;

  margin: 0;
  display: flex;
  align-items: center;
}

.left {
  width: 50%;
  height: 80vh;
}
.right {
  width: 50%;
  height: 100vh;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

canvas {
  display: block;
}

p {
  font-size: 18pt;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 24pt;
  margin-bottom: 1em;
  text-align: center;
  color: white;
}
#stress {
  font-size: 22pt;
  line-height: 1em;
}

img {
  height: 75%;

  display: block;
  margin: 1em auto;
}